<html>

<head>
    <title>TD Authentication Workflow</title>
</head>

<body>
    
    <h1>TD Authentication</h1>
    <p>
        This web app will walk you through the Authentication workflow so that you can get an access token
        to use the API. To get started, click the following link below and you'll be redirected to the login.
        page.

        Once there, you'll want to enter your TD Ameritrade account username, and your TD Ameritrade account
        password.
    </p>
    <a href="https://127.0.0.1:5000/login">TD Login Page</a>

</body>

</html>